.wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
}

.machine {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  width: 500px;
  position: relative;
  margin: 10px;
  overflow-x: none;
}
.top {
  /* position: relative; */
  height: 250px;
}

.the-claw {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}
.claw {
  height: 100px;
  width: 10%;
  border: 1px solid gray;
  right: 0px;
  left: 0px;
  top: 30px;
  position: absolute;
  transition: all linear 0.28s, left linear 0.3s;
}
.claw:hover {
  border: 1px solid pink;
  transition: all ease 0.1s;
}

.stuff {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  position: relative;
  top: 200px;
}

.bottom {
  background-color: pink;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  padding: 15px;
}
